.btn3{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color:$gray-400;
    display: block;
    &:hover{
        color: $success-300;
        font-weight: bold;
    }
    &.active{
        color: $success-300;
        font-weight: bold;
    }
}